:root {

    --blur_constant: 200px;
    --circle_blur_offset_w: -10vw;
    --circle_blur_offset_h: -10vh;

    --first_section_h: 70vh;
    --page_margin: 50px;

    --backgroundColor: #6d6875;
    --leftSize: 50%;
    --headerSize: 50px;
    --globalPadding: 10px;
    --yellow: #EDB74D;
    --red: #EB6666;
    --green: #6FB18A;

    /* --secondary: #e5989b; */
    --secondary: #818589;
    --tertiary: #ffcdb2;
    --r1: #ffb4a2;
    --r2: #b5838d;
}

html,
head,
body {
    padding: 0px;
    margin: 0px;
}

head,
body {
    position: relative;
    background-color: var(--backgroundColor);
    /* color: var(--secondary); */
    font-family: monospace;
    /* color: var(--tertiary); */
    color: black;
}

body {
    height: 200vh;
    width: 100vw;
    /* filter: url(#noiseFilter); */
    overflow-y: scroll;
    overflow-x: hidden;

}

/* #root {
    height: 100%;
} */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#header {
    width: 100%;
    height: var(--headerSize);

    border-bottom: 1px solid var(--secondary);
    backdrop-filter: blur(50px);

}

#pageWrapper {
    margin: var(--page_margin);
    height: calc(100% - var(--globalPadding) - var(--headerSize));
    width: calc(100% - 2 * var(--page_margin));

    border-radius: 10px;
}

.pageWrapperBackground {
    position: absolute;
    margin: var(--page_margin);
    height: calc(100% - var(--globalPadding) - var(--headerSize));
    width: calc(100% - 2 * var(--page_margin));
    background-color: white;
    opacity: 50%;
    z-index: -1;

    border-radius: 10px;
}

#videosWrapper {

    /* height: 100%; */
    height: calc(var(--first_section_h) - var(--globalPadding) - var(--headerSize));
    width: 100%;
}



.sideWrapper {
    flex-direction: column;
    height: 100%;
    /* height: calc(100% - var(--globalPadding) - var(--headerSize)); */
}

#leftSideWrapper {
    width: var(--leftSize);
}

#rightSideWrapper {
    width: calc(100% - var(--leftSize));
}

.containerShadow {
    box-shadow: 0px 0px 10px 0px var(--secondary);
    /* border-radius: 15px; */
    /* padding: 10px; */
    border: 1px solid var(--secondary);
}

.container {
    height: fit-content;
    width: fit-content;

    /* background-color: #eeeeee; */
    backdrop-filter: blur(300px);
    /* opacity: 80%; */
    /* backdrop-filter: filter(blur(500px)); */

}

.video_buttons {
    width: 80%;
}

.video_buttons1 {
    justify-content: left;
}

.video_buttons2 {
    justify-content: left;

}


.settings {
    height: 20vh;
    width: 80vw;
}

.video {
    position: absolute;
}

.hyp {
    height: 30%;
    width: 100%;
}

.image1 {

    max-width: 45vw;
    /* max-height: 80vh; */
    height: auto;
    object-fit: cover;
    flex: 0;
}

.verticalDivider {
    height: 80%;
    margin-top: -5vh;
    width: 1px;
    background-color: var(--secondary);
}

#tabs {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    top: 50vh;
    right: 30px;

    /* background-color: red; */
    transform: translateY(-50%);

    height: 450px;
    width: 40px;
}

.tab {
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--secondary);
    height: 100px;
    width: 20px;
    font-size: 9px;

    backdrop-filter: blur(100px);

    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: all 0.2s ease-in-out
}

.tab:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.activeTab {
    background-color: var(--secondary);
    color: var(--backgroundColor);


    transition: all 0.1s ease-in-out
}


.noise {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 60%;

    top: 0px;
    left: 0px;

    opacity: 40%;

    background-image: url("./assets/nnnoise.svg");
    background-size: contain;
    background-repeat: repeat;
}

.noise2 {
    top: 100vh;
}


.blobs {
    z-index: -2;
    height: 120vh;
    width: 100vw;
    position: absolute;

    top: 0px;
    left: 0px;

}

.blob {
    border-radius: 100%;
    z-index: -2;
}

.circle1 {
    background-color: var(--r1);
    position: absolute;
    top: var(--circle_blur_offset_h);
    left: var(--circle_blur_offset_w);
    height: 80vh;
    width: 80vw;
    /* filter: blur(120px); */
    filter: blur(var(--blur_constant));
    /* animation: circle1Animation 8s infinite ease; */
}

.circle2 {
    background-color: var(--r2);
    position: absolute;
    bottom: var(--circle_blur_offset_h);
    right: var(--circle_blur_offset_w);
    height: 80vh;
    width: 80vw;
    filter: blur(var(--blur_constant));
    /* backdrop-filter: blur(10px); */
    /* animation: circle2Animation 8s infinite ease; */
}

.circle3 {
    background-color: var(--red);
    position: absolute;
    bottom: var(--circle_blur_offset_h);
    left: var(--circle_blur_offset_w);
    height: 80vh;
    width: 80vw;
    filter: blur(var(--blur_constant));
    /* backdrop-filter: blur(10px); */
    /* animation: circle2Animation 8s infinite ease; */
}

.circle4 {
    background-color: var(--green);
    position: absolute;
    top: var(--circle_blur_offset_h);
    right: var(--circle_blur_offset_w);
    height: 80vh;
    width: 80vw;
    filter: blur(var(--blur_constant));
    /* backdrop-filter: blur(10px); */
    /* animation: circle2Animation 8s infinite ease; */
}

@keyframes circle1Animation {
    0% {
        top: 200px;
        left: 100px;
        transform: scale(1);
    }

    40% {
        top: 300px;
        left: 150px;
        transform: scale(1.2);
    }

    80% {
        top: 100px;
        left: 200px;
        transform: scale(1.3);
    }

    100% {
        top: 200px;
        left: 100px;
        transform: scale(1);
    }
}

@keyframes circle2Animation {
    0% {
        top: 80px;
        right: -20px;
        transform: scale(1.2);
    }

    30% {
        top: 300px;
        right: -20px;
        transform: scale(1);
    }

    60% {
        top: 200px;
        right: 100px;
        transform: scale(1);
    }

    100% {
        top: 80px;
        right: -20px;
        transform: scale(1.2);
    }
}

#fastCursor {
    border-radius: 50%;
    position: absolute;

    background-color: var(--secondary);
    mix-blend-mode: difference;

}

#slowCursor {
    border-radius: 50%;
    position: absolute;

    background-color: #222322;
    mix-blend-mode: difference;
    transition: all 0.05s linear;
}

.screen {
    height: 100vh;
    width: 100vw;

    background-color: white;
}

#screenContainer {
    flex-direction: column;
}

button,
input[type=file]::file-selector-button {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--backgroundColor);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover,
input[type=file]::file-selector-button:hover {
    background-color: var(--secondary);
    transition: all 0.2s ease-in-out;
}

#graphs {
    width: 100%;
    height: 50vh;
}