:root {
    --backgroundColor: #222222;
    --leftSize: 50%;
    --headerSize: 50px;
    --globalPadding: 10px;
}

html, head, body {
    padding: 0px;
    margin: 0px;
}

head, body {
    position: fixed;
    background-color: var(--backgroundColor);
    color: #cccbcc;
    font-family: monospace;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    width: 100%;
    height: var(--headerSize);

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #cccbcc;
}

#pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    /* height: 100%; */
    height: calc(100vh - var(--globalPadding) - var(--headerSize));
}

.sideWrapper {
    flex-direction: column;
    height: 100%;
    /* height: calc(100% - var(--globalPadding) - var(--headerSize)); */
}

#leftSideWrapper {
    width: var(--leftSize);
}

#rightSideWrapper {
    width: calc(100% - var(--leftSize));
}

.container {
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

.video {
    position: absolute;
}

.hyp {
    height: 30%;
    width: 100%;
}

.image1 {

    max-width: 50%;
    height: auto;
    object-fit: cover;
    flex: 0;
}

.verticalDivider {
    height: 100%;
    width: 1px;
    background-color: #cccbcc;
}

#tabs {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    top: 50%;
    right: 5px;

    /* background-color: red; */
    transform: translateY(-50%);

    height: 100px;
    width: 40px;
}

.tab {
    border-radius: 5px;
    border: 1px solid #cccbcc;
    height: 20px;
    width: 40px;
}

.activeTab {
    width: 80px;
}